html{
  scroll-behavior: smooth;
  font-family: sans-serif;
}



.d-block{
  height: 50vh;
  object-fit: cover;
}

#subscribe-section{
  background-color:  #438899;
  height: auto;
  width: auto;
  padding: 2%;
}

.col-middle-subscribe h1{
  color: white;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin: 3%;
}


#products-section{
  background-color: #3e7b8a;
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.products-row h1{
  color: white;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

#reviews-section{
  background-color: #376f7d;
  height: auto;
  width: auto;
  min-height: 60vh;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.reviews-row h1{
  color: white;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  float: right;
  margin-bottom: 5%;
}

.review-card{
  border-color: white;
  background: transparent;
  color: white;
  width:70%;
  left:15%;
}
#contacts-section{
  background-color: #274952;
  height: 20vh;
  width: auto;
}
