html{
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar{
  background-color: #274952;
}

.d-block{
  height: 50vh;
  object-fit: cover;
}


#subscribe-section{
  background-color:  #438899;
  height: auto;
  width: auto;
  padding: 2%;
}

.col-middle-subscribe h1{
  color: white;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin: 3%;
}


#products-section{
  background-color: rgb(79, 142, 153);
  height: auto;
  width: auto;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.product-card{
  transition: .1s cubic-bezier(1, 1, 1, 1), .1s cubic-bezier(1, 1, 1, 1);
  cursor: pointer;
}

.product-card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.products-row h1{
  color: white;
  font-size: 40px;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

#reviews-section{
  background-color: #376f7d;
  width: auto;
  min-height: 60vh;
  justify-content: center;
  text-align: center;
  padding: 5%;
}


.reviews-row h1{
  color: white;
  font-size: 40px;
  margin-bottom: 5%;
}

.carousel-reviews-row{
  justify-content: center;
  align-items: center;
}

.review-card{
  border-color: white;
  background: transparent;
  color: white;
  height: 40vh;
  width: 70vw;
  padding-left: 10vw;
  padding-right: 10vw;

}

.card-text{
  text-overflow: ellipsis;
}

.profile-image{
  border-radius: 50%;
  height: 10vh;
  width: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}


#contacts-section{
  background-color: #274952;
  color:white;
  height: auto;
}

.icon-image{
  width: 20px;
  margin: 3px;
}

.icon-image:hover{
  opacity: .5;
}

.contact-set{
  text-align: center;
  padding: 1%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.contact-links-set{
  line-height: .7;
}

.contact-links-set p:hover{
  text-decoration: underline;
}
